* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: rgb(15, 15, 15);
    background-color: rgb(145, 145, 145);
    height: 100vh;
    padding: 8px;
    
}

.titleImg {
	height: 100px;
    width: 75px;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes wink {
    0% {-webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    }

    100% {-webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
    }
} 

/* Chrome, Safari, Opera */ 
@-moz-keyframes wink {
    0% {-webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    }

    100% {-webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
    }
}

/* Chrome, Safari, Opera */ 
@-o-keyframes wink {
    0% {-webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    }

    100% {-webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
    }
}  

/* Standard syntax */ 
@keyframes wink {
    0% {-webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
    transform: rotate(-12deg);
    }


    100% {-webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
    }
}

@-webkit-keyframes move {
  0% { -webkit-transform: translate(20px); }
  100% { -webkit-transform: translate(500px); }
}

.logo {
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation: wink 1.5s alternate infinite; /* Safari 4+ */
      -moz-animation:    wink 1.5s alternate infinite; /* Fx 5+ */
      -o-animation:      wink 1.5s alternate infinite; /* Opera 12+ */
      animation:         wink 1.5s alternate infinite; /* IE 10+, Fx 29+ */
  //  -webkit-transform-origin: 50% 50%;
  //  -moz-transform-origin: 50% 50%;
  //  -o-transform-origin: 50% 50%;
  //  -ms-transform-origin: 50% 50%;
  //  transform-origin: 50% 50%;
    -webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
    animation-timing-function: ease;

//-webkit-animation: move 1.5s infinite; /* Safari 4+ */
 //   animation-iteration-count: infinite; /* android */
  //  animation: move 1.5s infinite;

}

.main {
    padding: 25px;
    background-color: white;
    border: 5px solid rgb(15, 15, 15);
    border-radius: 12.5px 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.hidden {
    display: none;
}

.table-wrapper {
    background-color: rgb(145, 145, 145);    
    border-radius: 5px;
    margin: 8px 0;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.table {
    width: 100%;
    overflow: auto;
    //background-color: rgba(154, 255, 173, 0.24);
}

.kocicak {
    background-color: white;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    flex-flow: column;
}

.kocicak ~ .kocicak {
    margin-top: 8px;
}

.titulna-fotka {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    box-shadow: 5px 5px 2px rgba(66,66,66,0.8);
}

.meno ~ .obsah{
    margin: 8px 0;
}

.obsah {
    display: flex;
}

.popis {
    margin-left: 8px;
}

.nastavenia-filtra {
    display: table;
    height: 18px;
    
    border-color: rgb(145, 145, 145);    
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px;
}

.nastavenia-filtra .rozbalovac-filtra {
    display: table;
    margin-left: auto;
    margin-right: auto;
    height: 18px;
    cursor: pointer;
}

.nastavenia-filtra .text-filtra {
    display: inline-block;
    float: left;
}

.nastavenia-filtra .sipka {
    float: left;
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
} 
    
.nastavenia-filtra.zabaleny .sipka {
    background-image: url(../images/baseline-expand_more-24px.svg); 
}

.nastavenia-filtra.rozbaleny .sipka {
    background-image: url(../images/baseline-expand_less-24px.svg); 
}

.nastavenia-filtra.zabaleny .filter {
    max-height: 0px;
    transition: max-height 0.26s ease-out;
    overflow: hidden;
}

.nastavenia-filtra.zabaleny .filter .kategoria {
}

.nastavenia-filtra.rozbaleny .filter {
    max-height: 100%;
    transition: max-height 0.26s ease-in;
    overflow: hidden;
}

.filter {
    width: 100%;
}

.checkbox-text {
    display: inline-block;
    margin-left: 5px; 
    margin-right: 5px; 
}

.visible-not {
    visibility: hidden;
}

/* GAME */
.game-buttons {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    flex-flow: column;
}

.game-buttons .row {
    display: inline-block;
}

.game-buttons .button {
    height: 2rem;
    width: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem;
}

.arrow-curve-down {
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
}
				